body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/*App.tsx*/
.container.pt-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Login.tsx*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Home.tsx */
.login-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
}

.login-notice h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
  padding: 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*Footer.tsx*/
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer p {
  margin: 0;
}

/*JobListPage.tsx*/
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.row {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e9ecef;
}

/*Responsive Design*/
@media (max-width: 768px) {
  .form {
    width: 90%; /* Make the form take up more width on smaller screens */
  }

  .footer {
    position: relative; /* Change to relative to avoid overlap on small screens */
  }

  h1,
  h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}
